.nav ol{
   color:white;
}

.nav a{
  text-decoration:none;
  font-family:cursive;
}

.upload{
  position:fixed;
  left:50%;
  bottom:50%;
}

.searchCourseURL{
  position:fixed;
  bottom:50;
  left:20%;
}
